.AvatarDesktop {
    height: 24rem;
    width: auto;
    border-radius: 50%;
    display: block;
}

.AvatarMobile {
    height: 16rem;
    width: auto;
    border-radius: 50%;
    display: none;
    margin-left: 3rem;
}

@media only screen and (max-width: 900px) {
    .AvatarDesktop {
        display: none;
    }
    .AvatarMobile {
        display: block;
    }
}